html {
  background-color: rgba(0, 0, 0, 0.9);
  font-family: monospace, monospace;
  color: rgba(255, 255, 255);
  font-weight: 100;
  padding-left: 70px;
  cursor: url(../images/cursor.svg) 3 3, auto;
}

p {
  font-family: "Rubik", sans-serif;
  line-height: 1.7;
  color: rgb(39, 146, 123);
  font-size: 18px;
}

div div {
  height: 100px;
  padding: 50px 0;
  position: relative;
}

div div a {
  position: absolute;
  right: 40px;
  bottom: 5px;
}

header {
  height: 60px;
  padding: 50px 0;
}

h1 {
  font-size: 40px;
  font-weight: 100;
}

h2 {
  font-size: 30px;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: white;
}
